html, body {
    font-family: 'Open Sans', sans-serif;
}

#header h1 {
    font-size: 60px;
    line-height: 80px;
}

#footer {
    font-family: sans-serif, 'Tahoma';
}

.center {
	text-align: center;
}