<div class='span3'>
	<ul class="nav nav-tabs nav-stacked">
	  <li{% if left_active is not defined or left_active == 'list' %} class='active' {% endif %}>
	  	{{ anchor('/hq/users/', 'Listar') }}
	  </li>
	  <li{% if left_active == 'add_user' %} class='active' {% endif %}>
	  	{{ anchor('hq/users/create_user', lang('index_create_user_link')) }} 
	  </li>
	  <li{% if left_active == 'add_group' %} class='active' {% endif %}>
	  	{{ anchor('hq/users/create_group', lang('index_create_group_link')) }}
	  </li>
	</ul>
</div>