<footer id='footer'>
	<div class='container-fluid'>
	    <div class='row-fluid'>
    	    <div class='span12'>
    	        <hr />
    	    </div>
    	</div>
    	<div class='row-fluid'>
    		<div class='span5'>
    			<p>&copy; All rights reserved <a href='http://tupilabs.com' title='TupiLabs'>TupiLabs</a></p>
    		</div>
    		<div class='span6'>
    			<div class='pull-right'>
					<a href='http://facebook.com/tupilabs'><img src='{{ site_url('img/landing_page/facebook.png') }}' /></a>
	    		    <a href='http://twitter.com/tupilabs'><img src='{{ site_url('img/landing_page/twitter.png') }}' /></a>
	    		    <a href='http://www.linkedin.com/company/2631628'><img src='{{ site_url('img/landing_page/linkedin.png') }}' /></a>
	    		</div>
    		</div>
    	</div>
    </div>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35714376-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>