.classpath
.buildpath
.settings
.project
.externalToolBuilders/
cache/
dist/
tmp/
user_guide/
database-model/
vendor/
composer.phar
*.sqlite
database-schema/
*.sublime-workspace
.env.production.php
.env.development.php
.env.php
