language: php

php:
  - 5.4
  - 5.5
  - 5.6

before_script:
  - composer self-update
  - composer install --prefer-dist --no-interaction --dev

#script: phpunit

matrix:
  allow_failures:
    - php: 5.6
  fast_finish: true
