title: Speak Like A Brazilian
description: >- # this means to ignore newlines until "baseurl:"
  Learn how to speak like a Brazilian, using local expressions! Licensed under a Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://speaklikeabrazilian.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: speaklikeabr
github_username:  tupilabs
author: Bruno P. Kinoshita

show_excerpts: true

markdown: kramdown
theme: minima

include:
  - expressions

exclude:
 - .idea/
 - .git/
 - .gitignore
 - .jekyll-metadata
 - .sass-cache/
 - deploy.sh
 - docs/
 - Gemfile
 - Gemfile.lock
 - LICENSE.txt
 - node_modules
 - README.md
 - vendor/bundle/
 - vendor/cache/
 - vendor/gems/
 - vendor/ruby/

plugins:
- jekyll-paginate-v2

collections:
 expressions:
  output: true
  permalink: /:path/

pagination:
 enabled: true
 debug: false
 collection: 'posts'
 per_page: 10
 permalink: '/page/:num/'
 title: ':title - page :num'
 limit: 0
 sort_field: 'date'
 sort_reverse: true
 category: 'posts'
 tag: ''
 locale: ''
 trail:
  before: 2
  after: 2
 extension: html
 indexpage: 'index'

# _config.yml

algolia:
 application_id: FGTZFTNRCI
 index_name:     slbr
 files_to_exclude:
   - '_posts/**/*'
   - index.html
 nodes_to_index: 'expression'
 extensions_to_index:
  - md
  - html
 settings:
     searchableAttributes:
       - title
       - definitions.definition
       - collection,categories,tags
