{% extends '_layouts/default/default.html.twig' %}

{% block content %}
<section id='main'>
	<div class='container'>
		<div class="row">
    		<div class='span10'>
				<h4>SLBR Apps</h4>
			
    			<p>Learning a new language must be fun. Besides having common daily 
    			Brazilian expressions and slangs, we now have applications to help 
    			you learn Brazilian Portuguese.</p>
			
				<hr />
			
				<h5>&rarr; SLBR Sentences</h5>
			
    			<p>Learned a new word but have no idea how to use it? Search for words 
    			in our expressions database.</p>
			
				<p>{{ anchor('/apps/sentences/', 'Go to SLBR Sentences app') }}</p>
			
				<hr />
			
				<h5>&rarr; SLBR Quiz</h5>
			
    			<p>Test your Brazilian Portuguese with our Quiz. Here you'll have fun 
    			and will get used with expressions and slangs. </p>
    			
    			<p>{{ anchor('/apps/quiz/', 'Go to SLBR Quizz app') }}</p>
			</div>
			{# 2 columns wide #}
    		{% include '_layouts/default/sidebar.html.twig' %}
		</div>
	</div>
</section>
{% endblock %}