---
layout: page
title: Expressions starting with A
pagination: 
  enabled: true
  collection: expressions
  debug: true
  sort_field: 'title'
  sort_reverse: false
permalink: "/a/"
---

{% for post in paginator.posts %}
  <h1>{{ post.expression }}</h1>
{% endfor %}

Pages:

{% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %}
