{% extends '_layouts/hq/hq.html.twig' %}

{% block content %}
<div class="container-fluid" id="content">
    <div class='row-fluid'>
    	<div class='span12'>
    		<h3>Bem-vindo ao Paskuale</h3>
    	</div>
    </div>
    <div class='row-fluid'>
    	<div class='span6'>
    		<h5>Como usar o Paskuale</h5>
    		
    		<p>Navegue nos seus <strong>websites</strong> e adicione 
    		<strong>patterns</strong> para filtrar o conteúdo do seu site.  
    		O Paskuale vai user o seu <strong>dicion&aacute;rio</strong> 
    		selecionado para buscar erros de ortografia e gram&aacute;tica.</p>
    		
    		<p><!-- filler img --></p>
    	</div>
    	
    	<div class='span6'>
    		<p><!-- filler video --></p>
    	</div>
    </div>
    <div class='row-fluid'>
    	<div class='span6'>
    		<p>Conhe&ccedil;a tamb&eacute;m o NewsDiffs brasileiro. O NewsDiff 
    		&eacute; um projeto que verifica artigos de sites de 
    		not&iacute;cias do Brasil, procurando por modifica&ccedil;&otilde;es
    		(por causa de erros de Portugu&ecirc;s ou n&atilde;o).
    		</p>
    	</div>
    	<div class='span6'>
    	
    	</div>
    </div>
</div>
<br style='clear: both;' />
<script type="text/javascript">
function templatecallback() {
};
</script>
{% endblock %}