{% extends '_layouts/default/default.html.twig' %}

{% block content %}
<section id='main'>
	<div class='container'>
		<div class="row">
    		<div class='span10'>
    			<div class='row'>
    				<div class='span10'>
    					<h2 class='subtitle'>Thank you!</h2>
    				</div>
    				<hr class='clearfix' />
    				<div class='span10'>
    					{% if message is defined %}
    					<p>{{ message }}
    					{% else %}
    					<p>We will get back to you as soon as possible.</p>
    					{% endif %}
    				</div>
    			</div>
    		</div>
    		{# 2 columns wide #}
    		{% include '_layouts/default/sidebar.html.twig' %}
		</div>
	</div>
</section>
{% endblock %}