@mixin card {
  border: 1px solid rgba(0,0,0,0.1);
  transition: 0.3s;
  padding: 10px 20px 4px 20px;
  margin: 10px 0;

  @media screen and (min-width: $on-large) {
    &:nth-child(odd) {
      margin-right: 5px;
    }
    &:nth-child(even) {
      margin-left: 5px;
    }
  }
}

div.post-list {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (min-width: $on-large) {
    grid-template-columns: 1fr 1fr;
  }
  div {
    @include card()
  }
  div:hover {
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.2);
  }
}
