#noscript {
  background-color: crimson;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer {
  background-color: #f9f9f9;
  ul {
    list-style: none;
    margin: 0;

    li {
      margin: 5px 0;
    }
  }
}

.landing-hero {
  height: clamp(140px, 20vw, 260px);

  background-image:
          linear-gradient(
                          rgba(0, 50, 40, .10),
                          rgba(0, 50, 40, .10)
          ),
          url("/assets/images/paraty-2608027_1280.jpg");

  background-size: cover;
  background-position: center 55%;
}