{% extends '_layouts/moderators/moderators.html.twig' %}

{% block content %}
<section id="main">
    <div class='container'>
        <div class='row'>
            <div class='span10'>
            	
            </div>
            {# 2 columns wide #}
            {% include '_layouts/default/sidebar.html.twig' %}
        </div>
    </div>
</section>
{% endblock %}