div.header_filler {
    display: inline-block;
    width: 100px;
    overflow: hidden;
}
h4.subheader {
    padding: 2px;
    margin: 0px;
    color: #515151;
}
div#search {
    height: 60px;
    text-align: center;
    background-image: url('../pattern/dust.png');
}

div#search input#q {
    font-size: 200%;
    line-height: 150%;
    height: 100%;
}

div#search button {
    font-size: 200%;
    line-height: 150%;
    height: 100%;
}

div#menu {
    background-color: #87aade;
    padding: 8px 0px;
}

div#menu ul {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: inline;
    position: relative;
    width: 100%;
}

div#menu ul li {
    margin: 0px 2px 0px 0px;
    padding: 0px;
    display: inline;
    list-style: none;
}

div#menu ul li a {
    color: white;
    font-weight: bold;
    border: 0px solid white;
    margin: 0px;
    padding: 2px 2px;
    font-size: 12px;
}

div#menu ul li a:hover {
    background-color: white;
    color: black;
}

div#menu ul li.active a {
    border-bottom: 1px solid white;
}

div.body {
    background-color: white;
    padding: 0px 0px;
}

div.pad_l {
    padding-left: 10px;
}

div.pad_r {
    padding-right: 10px;
}

@media (max-width: 767px) {
    div.pad_l {
        padding: 0px 10px;
    }
    
    div.pad_r {
        padding: 0px 10px;
    }
    
    div#search {
        padding: 0px 10px;
        margin: 0px;
        width: auto;
        min-height: 115px;
    }
    
    div#search input#q {
        width: auto;
        margin-bottom: 5px;
    }
    
    div#menu {
        background-color: 
        #87AADE;
        padding: 8px 10px;
        text-align: center;
    }
    
    .not_responsive {
        display: none;
    }
}

div#bottom_banner {
    background-color: white;
}

div#header {
    padding: 20px 0px 20px 0px;
    background-image: url('../pattern/dust.png');
    text-align: center;
}

img.logo {
    width: 530px;
    margin: 0px auto;
    position: relative;
    min-height: 10px;
}

div#header h1 {
    font-family: "Lato", "Helvetica Neue", serif;
    font-weight: 900;
    color: #000000;
    display: block;
    margin: 0px 0px 8px 0px;
    padding: 5px 0px 0px 0x;
    border: 0px solid red;
    /* logo */
    background-image: url('../img/slbr_logo.png');
    background-repeat: no-repeat;
    /*background-size: 530px 100px;*/
    -webkit-background-size:cover;
-moz-background-size:cover;
background-size:cover;
    background-position: center center;
    text-indent: -56000px;
    display: block;
    width: 100%;
    height: 100px;
}

div.entry {
    border: 1px solid #EEEEEE;
    padding: 4px 4px;
    margin: 0px 0px 10px 0px;
}

div.entry:hover {
    border: 1px solid #CCCCCC;
}

div.text {
    font-weight: bold;
    margin-bottom: 10px;
}

body {
    background-image: url('../img/background.png');
}

#footer {
    padding: 10px 0px 0px 0px;
    color: #999;
    background-image: url('../pattern/low_contrast_linen.png');
}

#footer a {
    color: black;
}

#footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#footer ul li {
    font-weight: bold;
    color: #999;
}

#footer ul li a {
    color: black;
    text-decoration: underline;
}

span.first-letter {
    float: left;
    margin-right: 4px;
    margin-top: 7px;
    padding: 4px 0px;
    font-size: 3em;
}

.center {
    text-align: center;
}

.checkbox_comment {
    display: inline-block;
    margin: 4px 0 0;
    vertical-align: middle;
    font-size: 80%;
}

.comment {
    font-size: 80%;
    font-style: italic;
}

textarea {
    height: 100px;
}
/* Displaying the expression */
span.expression {
    font-size: 120%;
}

span.expression a {
    color: black;
    text-decoration: underline;
}

.box {
    text-decoration: none;
    color: white;
    background-color: #87aade;
    padding: 2px 4px;
    margin: 0px 2px 0px 0px;
}

.box:hover {
    background-color: #7699cd;
}

.box a {
    color: white;
}

span.tag {
}

div.tags, div.authorship, div.media {
    font-size: 80%;
}

div.authorship, div.media {
    margin-top: 4px;
}

div.authorship span.author {
}

div.rating {
    float: right;
    display: inline;
    text-align: right;
}

div.rating {
    font-size: 0.8em;
}

div.example {
    font-style: italic;
}

div.date {
    font-size: 70%;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    color: #777777;
    font-style: italic;
}

div#share {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    display: block;
}

div#share form {
    margin: 0px;
}

div.control-group-pad {
    margin: 4px 0px;
}

a.tweet {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 55px;
    height: 20px;
    color: rgba(0, 0, 0, 0);
    font-size: 0;
    background: url("../img/tweet.png") no-repeat 0 0;
}

a.tweet:hover {
    background-position: 0 -21px;
}

a.tweet:active {
    background-position: 0 -42px;
}

div#secondary_menu {
    background-color: #EEEEEE;
    padding: 8px 0px;
}

div#secondary_menu ul {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: inline;
    position: relative;
    width: 100%;
}

div#secondary_menu ul li {
    margin: 0px 2px 0px 0px;
    padding: 0px;
    display: inline;
    list-style: none;
}

div#secondary_menu ul li a {
    color: black;
    font-weight: bold;
    border: 0px solid white;
    margin: 0px;
    padding: 2px 2px;
    font-size: 12px;
}

div#secondary_menu ul li:hover {
    color: black;
}

.post-date {
	font-size: 80%;
}