{% extends '_layouts/default/default.html.twig' %}

{% block content %}
<section id='main'>
	<div class='container'>
		<div class="row">
    		<div class='span10'>
    			<div class='row'>
    				<div class='span10'>
    					<h2 class='subtitle'>Links</h2>
    				</div>
    				<hr class='clearfix' />
    				<div class='span10'>
    					<ul>
							<li>Eyes On Brazil - <a href="http://www.eyesonbrazil.com/" title="Eyes On Brazil" alt="Eyes On Brazil">http://www.eyesonbrazil.com</a></li>
							<li>Aprenda2 - <a href="http://aprenda2.org/" title="Aprenda2" alt="Aprenda2">http://aprenda2.org/</a></li>
						    <li>Live in Brazil - <a href="http://www.liveinbrazil.org/" title="Live in Brazil" alt="Live in Brazil">http://www.liveinbrazil.org/</a></li>
						    <li>Reddit Portuguese subreddit - <a href="http://www.reddit.com/r/Portuguese/" title="Reddit Portuguese subreddit" alt="Reddit Portuguese subreddit">http://www.reddit.com/r/Portuguese/</a></li>
						    <li>BBC Portuguese Lessons - <a href="http://www.bbc.co.uk/languages/portuguese/" title="BBC Portuguese Lessons" alt="BBC Portuguese Lessons">http://www.bbc.co.uk/languages/portuguese/</a></li>
						    <li>Gringoes - <a href="http://www.gringoes.com" title="Gringoes" alt="Gringoes">http://www.gringoes.com/</a></li>
						</ul>
    				</div>
    			</div>
    		</div>
    		{# 2 columns wide #}
    		{% include '_layouts/default/sidebar.html.twig' %}
		</div>
	</div>
</section>
{% endblock %}