---
layout: default
---

{%- include search.html -%}

<h1 id="expression-text">{{ page.expression }}</h1>

{% for entry in page.definitions %}

<div id="expression-definition">
    <p style="float: left; padding-right: 1em;color: #9e9e9e;">{{ forloop.index }}</p>

    {{ entry.definition | markdownify }}
</div>

<div id="expression-example">
    <em>{{ entry.example | markdownify }}</em>
</div>

<div id="expression-metadata" style="text-align: right;">
	<em><small>by {{ entry.author }} - {{ entry.created }}</small></em>
</div>

<br/>

{% endfor %}

{% include social-page.html %}
