---
layout: default
---

<h1 class="expression-text">{{ page.expression }}</h1>

{%- if page.alternate_spellings -%}
<div class="alternate-expressions">
    Alternate spellings:
    {%- for alternate_spelling in page.alternate_spellings -%}
    <span class="chip">&ldquo;{{ alternate_spelling }}&rdquo;{% unless forloop.last %}, {% endunless %}</span>
    {%- endfor -%}
</div>
{%- endif -%}
{%- if page.variations -%}
<div class="expression-variations">
    Expression variations:
    {%- for variation in page.variations -%}
    <span class="chip">&ldquo;{{ variation }}&rdquo;{% unless forloop.last %}, {% endunless %}</span>
    {%- endfor -%}
</div>
{%- endif -%}

{% for entry in page.definitions %}

<div class="expression-definition-wrapper">
    <div class="expression-definition">
        <div class="expression-entry-number">{{ forloop.index }}</div>
        <div class="expression-definition-text">{{ entry.definition | markdownify }}</div>
    </div>

    <div class="expression-example">
        <p class="title">Examples</p>
        <em>{{ entry.example | markdownify }}</em>
    </div>

    {%- if entry.videos and entry.videos.size > 0 -%}
    <div class="expression-videos">
        <p class="title">Videos</p>
        <ul>
        {%- for video in entry.videos -%}
            <li><a href="{{ video.link }}">{{ video.title }}</a></li>
        {%- endfor -%}
        </ul>
    </div>
    {%- endif -%}

    <div class="expression-metadata" style="text-align: right;">
        <em><small>by {{ entry.author }} - {{ entry.created }}</small></em>
    </div>
</div>

<br/>

{% endfor %}

{% include social-page.html url=page.url title=page.title %}
