---
layout: default
---

<div id="search-box">
  <!-- SearchBox widget will appear here -->
</div>
<h1>Search results</h1>
<ul id="hits" class="post-list">
  <!-- Hits widget will appear here -->
</ul>
<div id="pagination">
  <!-- Pagination widget will appear here -->
</div>
<div id="search-footer">
  <p>If you know what this expression means, you can add it by sending us a
  <a href="https://github.com/tupilabs/speaklikeabrazilian.com/issues/new?assignees=kinow&labels=expressions&projects=&template=add-or-update-an-expression.md&title=Add+expression%3A+">pull request</a>,
  or contact us via <a href="https://www.twitter.com/speaklikeabr">Twitter</a>.</p>
  <a href="https://www.algolia.com/">
    <img src="{{ '/assets/images/search-by-algolia-light-background.png' | relative_url }}" alt="Search by Algolia">
  </a>
</div>
