<footer id='footer'>
	<div class='container'>
    	<div class='row'>
    		<div class='span6'>
    			<p>&copy; <a href='http://tupilabs.com' title='TupiLabs'>TupiLabs</a> - <a href='https://github.com/tupilabs/speaklikeabrazilian.com'>Source code</a> licensed under MIT License</p>
    		</div>
    		<div class='span6'>
    		    <p class='pull-right'>
    		        <a href='http://facebook.com/tupilabs'><img src='{{ site_url('img/landing_page/facebook.png') }}' /></a>&nbsp; 
    		        <a href='http://twitter.com/tupilabs'><img src='{{ site_url('img/landing_page/twitter.png') }}' /></a>&nbsp;
    		        <a href='http://www.linkedin.com/company/2631628'><img src='{{ site_url('img/landing_page/linkedin.png') }}' /></a>
    		    </p>
    		</div>
    	</div>
    </div>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35714376-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=221891907922920";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>